.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 9999;
  padding: 1rem 2rem;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  background: none;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.iconLink {
  color: #666;
  transition: all 0.3s ease;
  display: inline-block;
}

.iconLink:hover {
  color: rgb(210, 232, 159);
  transform: scale(1.2);
}

.icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.navButtons {
  display: flex;
  gap: 2rem;
  padding-right: 3vw;
}

.navButton {
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: opacity 0.3s ease;
}

.navButton:hover {
  opacity: 0.8;
}